@page "/"

<h1>This is page Index from BlazorMaui</h1>


<TodoControl />

@*<SurveyPrompt Title="How is Blazor working for you?" />
<a href="d:\programacao\blazormaui\blazormaui\app.xaml.cs">d:\programacao\blazormaui\blazormaui\app.xaml.cs</a>
<a href="d:\programacao\blazormaui\blazormaui\app.xaml">d:\programacao\blazormaui\blazormaui\app.xaml</a>*@